.track {
  @apply relative overflow-hidden;
}

.marquee {
  display: flex;
  width: max-content;
  align-items: center;
  animation: marquee linear infinite;
  will-change: transform;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.item {
  @apply flex-shrink-0;
}

.fadeLeft {
  @apply pointer-events-none absolute bottom-0 left-0 top-0 w-24;
  background: linear-gradient(to right, white, transparent);
}

.fadeRight {
  @apply pointer-events-none absolute bottom-0 right-0 top-0 w-24;
  background: linear-gradient(to left, white, transparent);
}
